:root {
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --hero-bg-color: #2f303a;
  --footer-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --logo-black-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
  --input-border-color: rgba(255, 255, 255, 0.6);
  --input-border-shadow-color: rgba(0, 0, 0, 0.15);
  --border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --social-icon: #afb1b8;
  --porfolio-card-effect: rgba(33, 150, 243, 0.9);
  --cubic-variable: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* variables */
/* === hidden title - main page === */
.hidden-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* === reset list markers === */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* === reset decoration links === */
a {
  display: block;
  text-decoration: none;
  color: var(--title-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* === removes margin top from address === */
p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: var(--hero-title-color);
  color: var(--text-color);
}

a,
button {
  cursor: pointer;
}

/* animations implement */
.page-header .list a,
.footer .address a,
a.clients-link,
a.social-link,
.our-team a.social-link,
.portfolio button,
.work-list a {
  transition: color var(--cubic-variable), background-color var(--cubic-variable), box-shadow var(--cubic-variable);
}

.features-title,
.section-title,
.work-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: var(--title-color);
}

/* === after footer modal.js connection === */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all var(--cubic-variable);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /* questionnaire form */
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: var(--title-color);
  cursor: pointer;
}

.modal-close-btn:focus, .modal-close-btn:hover {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.modal-form .hero-button {
  transition: background-color var(--cubic-variable), filter var(--cubic-variable);
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  text-align: center;
  color: var(--title-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.current-link::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 2px;
}

.input {
  display: block;
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 42px;
  transition: border-color var(--cubic-variable);
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.171;
  letter-spacing: 0.01em;
  color: inherit;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-color);
  transition: fill var(--cubic-variable);
}

.input-container:focus-within > .form-icon {
  fill: var(--accent-color);
}

.textarea {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--cubic-variable);
}

.textarea:placeholder-shown {
  color: #75757580;
}

.input-container:focus-within > .input,
.textarea:focus {
  border-color: var(--accent-color);
}

.sub-btn {
  align-self: center;
}

.accept-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.form-icon,
.checkbox,
.accept-box .label::before {
  position: absolute;
}

.accept-box {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.accept-box .label {
  display: flex;
  padding-left: 24px;
}

.accept-box .label::before {
  content: '';
  top: 50%;
  left: 0;
  width: 16px;
  height: 15px;
  transform: translateY(-50%);
  background-image: url("../images/icon-box.svg");
  transition: background-image var(--cubic-variable);
  border-radius: var(--accent-color);
}

.accept-box .checkbox {
  display: inline;
}

.checkbox {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.checkbox:focus + .label::before {
  outline: 1px solid var(--accent-color);
}

.checkbox:checked + .label::before {
  background-image: url("../images/check.svg");
  background-color: var(--accent-color);
}

/* === our team icon design === */
.social-list {
  display: flex;
}

.our-team .social-list {
  color: var(--social-icon);
}

.social-item {
  width: 44px;
  height: 44px;
}

.our-team .social-link {
  background-color: var(--hero-title-color);
  fill: currentColor;
  color: inherit;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: currentColor;
  color: inherit;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

a.social-link:hover,
a.social-link:focus {
  background-color: var(--accent-color);
  color: var(--hero-title-color);
}

/* === our regular customers === */
.clients-icon-box {
  display: flex;
  height: 90px;
}

.clients-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: -15px;
}

.clients-list-item {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  color: var(--social-icon);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  width: 100%;
  height: 100%;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
}

.clients-icon {
  fill: currentColor;
}

a.clients-link:hover,
a.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* === portfolio.html === */
.work-buttons {
  list-style: none;
  display: flex;
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .work-buttons {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .work-buttons {
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .work-buttons {
    margin-bottom: 34px;
  }
}

.portfolio-button:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-button {
    margin-bottom: 15px;
  }
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-buttons {
  display: flex;
  margin-bottom: 34px;
}

.work-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - (2 * 30px)) / 3);
  outline: 1px solid var(--portfolio-border-color);
}

.work-item .link:hover,
.work-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-item > .link,
.work-item img {
  display: block;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.work-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.work-name {
  text-align: left;
  padding: 20px 24px;
}

.buttons-list {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--team-bg-color);
}

.buttons-list:hover, .buttons-list:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}

.work-list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .work-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.work-item {
  outline: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .work-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .work-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  .work-item:nth-child(3n) {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .work-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

/* === overlay effect for team cards
 in portfolio page === */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--porfolio-card-effect);
  color: #ffffff;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  text-align: left;
  opacity: 0;
  transform: translateY(100%);
  transition: var(--cubic-variable);
}

.team-list-link-wrapper:hover .overlay,
.team-list-link-wrapper:focus .overlay {
  transform: translateY(0);
  opacity: 1;
}

.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .work {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .work-item {
    display: flex;
    width: 100%;
  }
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}

.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--team-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.features-title {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-features > .container {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

/* == what are we doing section == */
.about-us {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}

.about-us {
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  margin-bottom: 50px;
}

.about-us-list {
  display: flex;
}

.about-us-list li:not(:last-child) {
  margin-right: 30px;
}

/* === "what we do" text wrapping === */
.what-we-doing {
  position: relative;
  z-index: 0;
}

.overflow-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.overflow-text {
  font-weight: 700;
  line-height: 1.142em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* ===  our team section === */
.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-bg-color);
}

.our-team > .container {
  margin-bottom: 0;
}

.team-list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -15px;
  }
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.team-photo {
  display: block;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 24px 0;
}

@media screen and (min-width: 1200px) {
  .team-card {
    padding: 30px 0;
  }
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--title-color);
}

.team-name, .team-position {
  font-size: 16px;
}

.team-position {
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list > li {
  background-color: var(--hero-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

header {
  border-bottom: 1px solid var(--border-color);
}

/* === navigation === */
header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.site-nav {
  font-weight: 500;
  display: flex;
  align-items: center;
}

/* logo design */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
}

.site-nav > .logo {
  margin-right: 93px;
}

.header-studio {
  color: var(--logo-black-color);
}

.nav-list {
  display: flex;
}

.nav-list,
.contacts-link {
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--title-color);
}

.current-link,
.nav-link:hover,
.nav-link:focus,
.contacts:hover,
.contacts:focus,
.contacts-link:hover,
.contacts-link:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding: 24px 0px;
}

.nav-list .link,
.list-contacts .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-link {
  fill: currentColor;
  font-weight: 500;
  color: inherit;
  align-items: center;
}

.contacts-logo {
  margin-right: 10px;
}

.list-contacts {
  display: flex;
  justify-content: center;
}

/* === line design in header === */
.nav-list-item {
  position: relative;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggler-button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.toggler-button .nav-icon {
  width: 40px;
  height: 40px;
}

.toggler-button:hover, .toggler-button:focus {
  fill: var(--accent-color);
}

.nav-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    display: flex;
    height: 60px;
  }
  .container.page-header nav {
    display: none;
  }
  nav ul.list {
    display: block;
  }
  .nav-block {
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: scroll;
    transform: translateX(-100%);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .nav-block.is-open {
    transform: translateX(0%);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .nav-block .toggler-button {
    position: absolute;
    top: 3px;
    right: 26px;
  }
  .site-nav {
    margin-bottom: 302px;
  }
  .site-nav ul li a {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.172;
    letter-spacing: 0.02em;
  }
  .site-nav ul li a.link {
    padding: 0;
    margin-bottom: 32px;
  }
  .current-link::after {
    border: 0;
  }
  .list-contacts {
    flex-direction: column-reverse;
  }
  .list-contacts li a.link {
    color: #2196f3;
    font-size: 34px;
    padding-top: 0;
  }
  .list-contacts li:first-child a {
    padding-bottom: 0;
  }
  .list-contacts li:first-child a {
    color: #757575;
    font-size: 24px;
  }
  .list-contacts li svg {
    display: none;
  }
  .socials {
    display: flex;
    padding: 0;
    padding-top: 64px;
    flex-wrap: wrap;
  }
  .socials li {
    font-weight: 500;
    list-style-type: none;
    margin-right: 10px;
  }
  .socials li:last-child {
    margin-right: 0;
  }
  .socials li a {
    color: var(--accent-color);
  }
  .socials li:not(:last-child) a::after {
    content: '';
    margin-left: 10px;
    height: 22px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  .toggler-button {
    display: none;
  }
  .list-contacts {
    flex-direction: column;
    font-size: 12px;
  }
  .list-contacts a.link {
    padding: 0px;
    margin-bottom: 10px;
  }
  .list-contacts li:last-child a {
    margin-bottom: 0px;
  }
  .nav-block .socials {
    display: none;
  }
  .logo {
    margin-right: 88px;
  }
  .nav-list > li:not(:last-child) {
    margin-right: 50px;
  }
  .list-contacts > li:not(:last-child) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .list-contacts a.link {
    margin: 0;
  }
  .list-contacts {
    flex-direction: row;
    align-items: center;
    font-size: 14px;
  }
  .nav-list > li:not(:last-child),
  .list-contacts > li:not(:last-child) {
    margin-right: 50px;
  }
}

/* === footer === */
.footer {
  background-color: var(--footer-bg-color);
  padding-bottom: 60px;
}

.footer .address-container {
  padding-top: 60px;
  margin-bottom: 60px;
}

.footer .address-container a {
  padding-bottom: 20px;
  margin-right: 0px;
}

.footer .address-container .footer-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.footer .address-container .footer-address .footer-main-address {
  color: var(--hero-title-color);
  padding-bottom: 8px;
}

.footer .address-container .footer-address .list.footer-address-list li a {
  color: var(--address-color);
  padding-bottom: 8px;
}

.footer .footer-icon-container {
  margin-bottom: 60px;
}

.footer .footer-icon-container .join-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin-bottom: 20px;
}

.footer .footer-icon-container .social-list.list {
  display: flex;
  justify-content: center;
}

.footer .footer-icon-container .social-list.list .social-item .social-link {
  background-color: var(--footer-icon-bg);
}

.footer .footer-icon-container .social-list.list .social-item .social-link svg {
  fill: var(--hero-title-color);
}

.footer .subscribe-form .subscribe-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin-bottom: 20px;
}

.footer .subscribe-form .footer-form .subscribe-email {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px var(--input-border-shadow-color));
  border-radius: 4px;
  background: transparent;
  padding: 15px 16px;
  margin-bottom: 20px;
}

.footer .subscribe-form .footer-form .subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer .subscribe-form .footer-form .subscribe-btn .telegram-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--hero-title-color);
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .container .address-container {
    width: 50%;
  }
  .footer .container .footer-icon-container {
    width: 50%;
    padding-top: 65px;
  }
  .footer .container .subscribe-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 0px;
  }
  .footer .container {
    justify-content: space-between;
  }
  .footer .container .address-container {
    width: 231px;
  }
  .footer .container .footer-icon-container {
    width: 206px;
    padding-top: 72px;
    margin-bottom: 60px;
  }
  .footer .container .subscribe-form {
    width: 570px;
    padding-top: 72px;
    margin-bottom: 60px;
  }
  .footer .container .subscribe-form .footer-form {
    display: flex;
  }
  .footer .container .subscribe-form .footer-form .subscribe-email {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

/* === main hero title === */
.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero-text {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero-text {
    max-width: 696px;
  }
}

.button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hero */
.hero {
  padding: 118px 0;
  text-align: center;
  background-color: var(--hero-bg-color);
  margin: 0 auto;
  height: 400px;
  max-width: 480px;
  background-image: linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)), url("../images/main-img/main-image-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* === hero-button design === */
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero-content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.hero-button {
  padding: 10px 32px;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--hero-title-color);
  transition-property: background-color;
  transition: background-color var(--cubic-variable);
}

.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-img/main-image-mobile@2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 1199px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-img/main-image-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 481px), screen and (min-resolution: 192dpi) and (min-width: 481px), screen and (min-resolution: 2dppx) and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-img/main-image-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-img/main-image.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-img/main-image@2x.jpg");
  }
}
/*# sourceMappingURL=main.css.map */