/* === footer === */

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  .address-container {
    margin-bottom: 60px;
    a {
      margin-bottom: 20px;
      margin-right: 0px;
    }
    .footer-address {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      .footer-main-address {
        color: var(--hero-title-color);
        margin-bottom: 8px;
      }
      .list.footer-address-list li a {
        color: var(--address-color);
        margin-bottom: 8px;
      }
    }
  }
  .footer-icon-container {
    margin-bottom: 60px;
    .join-text {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--hero-title-color);
      margin-bottom: 20px;
    }
    .social-list.list {
      display: flex;
      justify-content: center;
      .social-item {
        .social-link {
          background-color: var(--footer-icon-bg);
          svg {
            fill: var(--hero-title-color);
          }
        }
      }
    }
  }
  .subscribe-form {
    .subscribe-text {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--hero-title-color);
      margin-bottom: 20px;
    }
    .footer-form {
      .subscribe-email {
        display: block;
        width: 100%;
        height: 50px;
        border: 1px solid var(--input-border-color);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px var(--input-border-shadow-color));
        border-radius: 4px;
        background: transparent;
        padding: 15px 16px;
        margin-bottom: 20px;
      }
      .subscribe-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        .telegram-icon {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-left: 10px;
          fill: var(--hero-title-color);
        }
      }
    }
  }
}
.footer-studio {
  color: var(--hero-title-color);
}

@media screen and (min-width: 768px) {
  .footer {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .address-container {
        width: 50%;
      }
      .footer-icon-container {
        width: 50%;
      }
      .subscribe-form {
        width: 450px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 0px;
    .container {
      justify-content: space-between;
      .address-container {
        width: 231px;
      }
      .footer-icon-container {
        width: 206px;
        margin-bottom: 60px;
      }
      .subscribe-text,
      .join-text,
      .logo,
      .footer-contacts-link,
      .footer-main-address {
        text-align: left;
      }
      .subscribe-form {
        width: 570px;
        margin-bottom: 60px;
        .footer-form {
          display: flex;
          .subscribe-email {
            margin-bottom: 0;
            margin-right: 12px;
          }
        }
      }
    }
  }
}
