/* === main hero title === */
.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero-text {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}

.button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hero */
.hero {
  padding: 118px 0;
  text-align: center;
  background-color: var(--hero-bg-color);

  margin: 0 auto;
  height: 400px;
  max-width: 480px;
  background-image: linear-gradient(
      to right,
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url(../../images/main-img/main-image-mobile.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  //styles to import in media queries
  &-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  /* === hero-button design === */
  &-button {
    padding: 10px 32px;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--hero-title-color);
    transition-property: background-color;
    transition: background-color var(--cubic-variable);
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/main-img/main-image-mobile@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 1199px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/main-img/main-image-tablet.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 481px),
  screen and (min-resolution: 192dpi) and (min-width: 481px),
  screen and (min-resolution: 2dppx) and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/main-img/main-image-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/main-img/main-image.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/main-img/main-image@2x.jpg');
  }
}
