/* ===  our team section === */
.our-team {
  padding-top: $padding;
  padding-bottom: $padding;
  background-color: var(--team-bg-color);
  & > .container {
    margin-bottom: 0;
  }
}

.team-list {
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -15px;
  }
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background: #ffffff;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.team {
  &-photo {
    display: block;
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 24px 0;

    @media screen and (min-width: 1200px) {
      padding: 30px 0;
    }
  }

  &-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--title-color);
  }
  &-name,
  &-position {
    font-size: 16px;
  }

  &-position {
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
}

.team-list > li {
  background-color: var(--hero-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
