/* === our team icon design === */
.social-list {
  display: flex;
}

.our-team .social-list {
  color: var(--social-icon);
}

.social-item {
  width: 44px;
  height: 44px;
}

.our-team .social-link {
  background-color: var(--hero-title-color);
  fill: currentColor;
  color: inherit;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: currentColor;
  color: inherit;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

a.social-link:hover,
a.social-link:focus {
  background-color: var(--accent-color);
  color: var(--hero-title-color);
}
